:root {
  --white: #fff;
  --white-blur: #d7ccc0;
  --light: #f5f4f0;
  --base: #fe8a02;
  --base-dark: #42413c;
  --dark: #2a2626;
  --dark-blur: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src:
    url("../fonts/OpenSans/OpenSans-Regular.ttf") format("opentype"),
    url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src:
    url("../fonts/OpenSans/OpenSans-Bold.ttf") format("opentype"),
    url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff");
}

@font-face {
  font-family: Neucha;
  src:
    url("../fonts/Neucha/Neucha.ttf") format("opentype"),
    url("../fonts/Neucha/Neucha.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;

  font: inherit;
  font-size: 100%;

  border: none;
}

body {
  font: 16px/1.6em "Open Sans", sans-serif;

  color: var(--dark);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  padding: 15px;
}

h1,
h2,
h3,
.block-main-title,
.nav-title {
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
  color: var(--base);
}

h3 {
  font-size: 34px;
}

.base-color {
  color: var(--base);
}

.dark-color {
  color: var(--dark);
}

.white-color {
  color: var(--white);
}

.container {
  position: relative;

  width: 1110px;
  padding: 100px 0;
  margin: 0 auto;
}

.section-bkgr,
.section-bkgr-light,
.section-bkgr-brown {
  position: relative;
}

.section-bkgr::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
}

.section-bkgr-light::after,
.section-bkgr-brown::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;

  width: 100%;
  height: 100%;

  content: "";
}

.section-bkgr-light::after {
  background-color: var(--light);
}

.section-bkgr-brown::after {
  background-color: var(--brown);
}

/* columns of text */

.text {
  font: 16px/1.6rem "Open Sans", sans-serif;
}

.text-container {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.text-container-column {
  width: 50%;
}

.text-container-column:first-of-type {
  margin-right: 30px;
}

.text-margin {
  margin-bottom: 15px;
}

.text-light {
  color: var(--white);
}

/* button */

.button:hover {
  background-color: #ea7600;
}

/* header section */

.header-section {
  overflow: hidden;
}

.header-title {
  margin-top: 8px;
  margin-bottom: 191px;
}

.header-image {
  position: absolute;
  top: 55px;
  right: -270px;
  z-index: -1;

  width: auto;
  height: 525px;
}

.header-button {
  margin: 35px 0 0 570px;
  padding: 12px 24px;

  background-color: var(--base);
}

.header-button a {
  font-weight: 700;

  color: var(--white);
}

/* video section */

.video-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100%;
  padding: 100px 0;
}

.video-section-title {
  margin: 6px 0 25px;
}

.video-section-text {
  margin-bottom: 30px;
}

.video-section-video {
  width: 919px;
  height: 569px;

  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/* menu section */

.menu-section {
  padding-top: 105px;
  margin-top: -195px;
  background-color: var(--base-dark);
}

.menu-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 1110px;
}

.menu-section-block {
  width: 350px;
  height: 323px;

  margin-bottom: 20px;
}

.last-line-block {
  height: 348px;
}

.menu-section-nav-block {
  padding: 24px;
  background-color: var(--light);
}

.menu-section-nav-block:hover {
  background-color: var(--base);
}

.menu-section-nav-block:hover > a > p {
  color: var(--white);
}

.block-main-title {
  font-size: 52px;
}

.nav-num {
  padding-bottom: 40px;

  font: 64px/64px Neucha, sans-serif;
  color: var(--basedark);
}

.nav-title {
  padding-bottom: 10px;

  font-size: 34px;
}

/* content sections */

.section-main-block {
  display: flex;
}

.section-image {
  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.section-title-info-light {
  margin-left: 30px;
}

.section-title-info-dark {
  margin-right: 30px;
}

.section-chapter {
  font: 24px/1.3em Neucha, sans-serif;
}

.section-chapter-light {
  color: var(--dark-blur);
}

.section-chapter-dark {
  color: var(--white-blur);
}

.section-title-light {
  color: var(--dark);
}

.section-title-dark {
  color: var(--white);
}

.section-subtitle {
  margin-top: 30px;
  font: 34px/1.2em Neucha, sans-serif;
}

.section-subtitle-dark {
  color: var(--white);
}

.section-how-appear {
  margin-top: 100px;
  margin-bottom: 10px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
}

.how-appear-light {
  background-color: var(--brown);
  color: var(--white);
}

.how-appear-dark {
  background-color: var(--white);
  color: var(--brown);
}

/* footer */

.feedback {
  display: flex;
  justify-content: space-between;

  padding: 55px;
  height: 190px;

  background-color: var(--base-dark);
}

.feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-block {
  display: flex;
}

.feedback-input {
  width: 423px;
  height: 50px;
  padding-left: 15px;
}

.feedback-input::placeholder {
  font-size: 13px;
  opacity: 0.2;
}

.feedback-button {
  position: relative;
  width: 70px;
  height: 50px;
  cursor: pointer;
  background-color: var(--base);
}

.feedback-button::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 10;

  width: 20px;
  height: 20px;

  margin: auto;

  background-image: url("../img/send.svg");
  background-repeat: no-repeat;
  background-size: cover;

  content: "";
}

.feedback-label {
  margin-bottom: 9px;
  color: var(--white);
}

.feedback-rules {
  font-size: 12px;
  color: var(--white);
}

.feedback-rules a {
  color: var(--white);
  border-bottom: 1px solid var(--white);
}

.copyright {
  margin-top: 74px;
  font-size: 14px;
  text-align: center;
}

.copyright-string {
  padding-bottom: 13px;
}

.copyright-string a {
  color: var(--blue);
  border-bottom: 1px solid var(--blue);
}
